#app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine {
  background-color: #474e5c;
  width: 60vw;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

#drum-container {
  flex-grow: 3;
  display: grid;
  flex-basis: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  .drum-pad{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    user-select: none;  
  }
  .drum-pad:hover{
    $light-white: rgb(202, 202, 202);
    border: 2px solid $light-white;
    color: $light-white;
  }
}

#display {
  flex-grow: 1;
  flex-basis: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}